body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    z-index: 2;
}

.nav-wrapper {
    background-color: #fff;
}

#welcome {
    height: 100vh;
    background-image: url('../images/coffee.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: center;
}

.welcome-text {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#about-me {
    margin-bottom: 10em;
}

.about-me-header {
    text-align: center;
}

.about-me-img {
    max-width: 35%;
    height: auto;
    float: left;
}

.about-me-text {
    width: 90%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.projects-header {
    text-align: center;
}

.projects h4 {
    font-size: 20px;
    background-color: #4aaaa5;
    color: #fff;
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    z-index: 1;
    margin-bottom: 0px;
}

.tile {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 5% 13%;
  max-width: 100%;
  height: auto;
}


