body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

nav {
    position: fixed;
    z-index: 2;
}

.nav-wrapper {
    background-color: #fff;
}

#welcome {
    height: 100vh;
    background-image: url('../images/coffee2.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: center;
}

.welcome-text {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#projects {
    border-bottom: 1px solid black;
}

.projects-header {
    text-align: center;
    margin: 1.5em 0;
}

.tile {
    margin-bottom: 7em;
}

/* .tile {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 5% 14%;
    text-align: center;
}

.tile h4 {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #009cb1;
    color: #fff;
}

.tile img  {
    max-width: 100%;
    height: auto;
  } */

.contact-header {
    text-align: center;
}

@media only screen and (max-width: 660px) {
    #welcome {
        background-attachment: scroll;
    }
}


